.App {
  text-align: center;
}


#encabezado {
  display: inline;
}

#block-nav {
  background-color: white;
  border: 2px solid #1034A6;
}

.items-nav {
  display: inline;
}

.btn-nav {
  background-color: white;
  color: #1034A6;
  border: none;
  font-size: 25px;
  padding: 1.2%;
}

#let-reg {
  color: #1034A6;
}


.titulo {
  background-color: white;
  color: #01016D;
  font-size: 28px;
  padding: 1%;
  text-align: center;
  font-family: 'Segoe UI', sans-serif;
}

#parrafo-home {
  font-size: 20px;
  padding: 0.5%;
  text-align: justify;
  margin: 5% 6% 0;
}

#bienvenida {
  margin: 2%;
  padding: 2%;
}

#parrafo-galeria {
  font-size: 15px;
  padding: 0.5%;
  text-align: justify;
  margin: 2% 6% 0;
}

/* Images */
#imagen-home {
  margin: 5%;
  border-radius: 25px;
  width: 650px;
  height: 500px;
}

#imagen-logo, #imagen-logo2 {
  width: 70px;
  height: 70px;
  margin-top: 1%;
}

#imagen-logo {
  float: left;
  margin-left: 3%;
}

#imagen-logo2 {
  float: right;
  margin-right: 3%;
}

#imagen-banner {
  width: 700px;
  height: 200px;
}

#banner-img {
  margin: 3% 15% 5% 25%;
  width: 55%;
  height: 300px;
}

.imag-even {
  border-radius: 25px;
  width: 700px;
  height: 500px;
}

/* Forms */
.form {
  font-size: 30px;
  color: #999;
}

.recuadro-form, .recuadro-tarea {
  border-radius: 3px;
  padding: 8px;
  width: 400px;
}

.recuadro-tarea {
  padding: 15px;
  height: 80px;
}

/* Buttons */
.btn-reg {
  background-color: green;
  color: black;
  border-radius: 25px;
  transition: transform 0.3s ease;
  font-size: 50px;
  width: 250px;
}

/* Cards */
.card {
  padding: 5%;
  margin: 5%;
  border-radius: 10px;
}

.video {
  text-align: center;
}

/* Footer */
.footer-pie {
  background-color: #434343;
}

.text-pie {
  color: white;
}


.titulo-reg, .titulo_inscripcion {
  text-align: center;
}

.subt-reg, .dep_subtitulo {
  font-size: 25px; 
}

.dep_titulo {
  color: #1034A6;
  font-size: 45px;
}

.parrafo_inscripcion {
  margin: 0 20% 0 3%;
  font-size: 20px;
  text-align: justify;
}

#reglamento {
  margin: 0 3%;
}